.logo_login{
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

#login-form{
	.input-field{
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.btn-large{
		min-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}