<!--
=================================================
=   loading Template                            =
=                                               =
=   Description: Displays a loading spinner     =
=                                               =
=   Used By: Router Loading                     =
=================================================
-->

<template name="loading">
    <div class="container">
        <div class="centered-in-div">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
