<!--
=================================================
=   registerUser Template                       =
=                                               =
=   Description: Displays the user creation     =
=   form
=                                               =
=   Used By: registration Route                 =
=================================================
-->

<template name="registerUser">

	<div class="container">
		<div class="card-panel register-user">

			<div class="register-user-head">
				<p>Create your account</p>
			</div>

			<div class="register-user-content">

				{{#autoForm id="createUserForm" schema=createUserSchema}}

					<div class="input-field">
						{{> afQuickField name='name' id='profile-name-create'}}
					</div>
					<div class="input-field">
						{{> afQuickField name='username' id='profile-username-create'}}
					</div>
					<div class="input-field">
						{{> afQuickField name='password' id='profile-password-create' type='password'}}
					</div>
					<div class="input-field">
						{{> afQuickField name='confirmPassword' id='profile-confirmPassword-create' type='password'}}
					</div>
					<div class="input-field">
						{{> afQuickField name='email' id='profile-email-create'}}
					</div>
					<div class="input-field">
						{{> afQuickField name='userTitle' id='profile-user-title-create'}}
					</div>
					<div class="input-field">
						{{> afQuickField name='bio' id='profile-bio-create'}}
					</div>
					<div class="input-field">
						{{> afQuickField name='location' id='profile-location-create'}}
					</div>

					{{> afQuickField name='skills' id='profile-skills-create'}}

					<button id="submit-user" class="btn waves-effect waves-light" type="submit">Submit</button>

				{{/autoForm}}

				{{#autoForm id="addSkillForm" collection="Skills" type="insert" resetOnSuccess=false}}

					{{> afQuickField name='skillName' id='add-skill'}}

					<button id="submit-skill" class="btn waves-effect waves-light" type="submit">Submit Skill
					<i class="mdi-content-add right"></i>
					</button>

				{{/autoForm}}

				{{> upload_bootstrap contentTypes='images' fileTypes='.jpg, .png' }}

			</div>

		</div>
	</div>
</template>
