<!--
=================================================
=   registerUser Template                       =
=                                               =
=   Description: Displays the user creation     =
=   form
=                                               =
=   Used By: registration Route                 =
=================================================
-->

<template name="registerUser">

	<div class="container">

		<div class="logo_login"><a href="/"><img src="/images/Logo_green.png" alt="logo" class="logo_img"></a></div>
		<div class="card-panel register-user">

			<div class="register-user-head">
				<span>Create your account</span><i class="mdi-action-assignment-ind"></i>
			</div>

			<div class="register-user-content">

				{{#autoForm id="createUserForm" schema=createUserSchema}}
				
				{{> afQuickField name='name' id='profile-name-create'}}
				
				{{> afQuickField name='username' id='profile-username-create'}}
				
				{{> afQuickField name='password' id='profile-password-create' type='password'}}
				
				{{> afQuickField name='confirmPassword' id='profile-confirmPassword-create' type='password'}}
				
				{{> afQuickField name='email' id='profile-email-create'}}
				
				{{> afQuickField name='userTitle' id='profile-user-title-create'}}
				
				{{> afQuickField name='bio' id='profile-bio-create'}}
				
				{{> afQuickField name='location' id='profile-location-create'}}


				{{> afQuickField name='skills' id='profile-skills-create'}}

				<button id="submit-user" class="btn waves-effect waves-light" type="submit">Sign up</button>

				{{/autoForm}}
			</div>
		</div>
		<ul class="collapsible registration-helper" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="mdi-action-account-circle"></i> Upload a profile picture</div>
				<div class="collapsible-body">
					<div class="content">
						{{> upload_bootstrap contentTypes='images' fileTypes='.jpg, .png' }}
					</div>
				</div>
			</li>
		</ul>
		<ul class="collapsible registration-helper" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="mdi-content-add-box"></i> Couldn't find your skill?  Add it</div>
				<div class="collapsible-body">
					<div class="content">
						{{#autoForm id="addSkillForm" collection="Skills" type="insert"}}

						{{> afQuickField name='skillName' id='add-skill'}}

						<button id="submit-skill" class="btn waves-effect waves-light" type="submit">Add my skill
						</button>

						{{/autoForm}}
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>
