.green-header-card{
	position:relative;
	.header{
		color: color("grey","lighten-5");
		font-weight: $medium;
		font-size: 16px;
		background-color: color("green","base");
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-transform: uppercase;
		p{
			margin-left: 20px;
			display: inline;
		}
		.single-action{
			display: inline;
			margin-left: 88%;
		}
	}
}

.skills-evidence{
	padding-left: 0px;
}