.green-header-card{
	.header{
		color: color("green","darken-2");
		padding-bottom: 0px;
		border-bottom: 2.5px solid color("green","darken-2");
		margin-bottom: 30px;
		font-weight: $bold;
		font-size: 16px;
	}
}