<!--
=================================================
=   navbar Template                             =
=                                               =
=   Description: Displays the navigation bar    =
=                                               =
=   Used By: header                             =
=================================================
-->

<template name="navbar">
    <nav>
        <div class="navbar-fixed">
            <div class="nav-wrapper">
                <form class="left hide-on-med-and-down">
                    <div class="input-field">
                        <input id="search" type="text" required>
                        <label for="search"><i class="mdi-action-search"></i>
                        </label>
                    </div>
                </form>
                <a href="/dashboard" class="brand-logo center">TASKME</a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/profile/{{ currentUser.username }}">{{ currentUser.username }}</a></li>
            <li><i class="mdi-social-notifications-none"></i>
            </li>
            <li>
                <a class='dropdown-button' href='#' data-activates='dropdown-navbar'><i class="mdi-action-settings"></i></a>
            </li>
            <span class="spacer-25px"></span>
        </ul>
    </div>
</div>
</nav>
<ul id='dropdown-navbar' class='dropdown-content'>
    <li><a>Nothing yet</a>
    </li>
    <li><a >Nothing yet</a>
    </li>
    <li id='logout-user'><a>logout</a>
    </li>
</ul>
</template>
