/*
===============================
=            Colors           =
===============================
*/

//           Greys            
//=============================
$grey-ligthen-3: #e0e0e0;

//           Greens            
//=============================
$green-darken-1: #43a047;
$green-darken-2: #388e3c;

/*
===============================
=         Font weights        =
===============================
*/

$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;

/*
===============================
=        	Heights           =
===============================
*/

$notification_elem: 100px;