/*
===============================
=            Colors           =
===============================
*/

//           Greys            
//=============================
$grey-ligthen-3: #e0e0e0;

//           Greens            
//=============================
$green-darken-1: #43a047;
$green-darken-2: #388e3c;

/*
===============================
=         Font weights        =
===============================
*/

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;