<!--
=================================================
=   layout Template                             =
=                                               =
=   Description: Displays templates selected by =
=   router                                      =
=                                               =
=   Used By: Router Layout                      =
=================================================
-->

<template name="layout">
	<div class="content">
		{{> header}}
		<div class="main-content">
			{{> yield}}
		</div>
	</div>
</template>