<!--
=================================================
=   dashboardMessages Template                  =
=                                               =
=   Description: Displays the conversations in  =
=   which the user participates                 =
=                                               =
=   Used By: dashboard                          =
=================================================
-->

<template name="dashboardMessages">
	<div class="container">
		<div class="card-panel green-header-card dashboard-card">
			<div class="header">
				<p>Messages</p>
			</div>
		</div>
		<div class="dashboard-card-content"></div>
	</div>
</template>