<!--
=================================================
=   dashboardNotifications Template             =
=                                               =
=   Description: Displays the notifications     =
=   addressed to the user                       =
=                                               =
=   Used By: dashboard                          =
=================================================
-->

<template name="dashboardNotifications">
    <div class="container">
        <div class="card-panel green-header-card dashboard-card">
            <div class="header">
                <p>Notifications</p>
            </div>
            <div class="dashboard-card-content">
                {{#each notifications}}
                    {{> notification}}
                {{/each}}
            </div>
        </div>
    </div>
</template>
