<!--
=================================================
=   dashboard Template                          =
=                                               =
=   Description: Displays the dashboard based   =
=   on the different dashboard templates        =
=                                               =
=   Used By: dashboard Route                    =
=================================================
-->

<template name="dashboard">
	{{> dashboardNotifications}}
	{{> dashboardMessages}}
	{{> dashboardTasks}}
	{{> dashboardModals}}
	{{> skillEvidence}}
	{{> merit}}
	<!--{{> dashboardSettings}}-->
</template>