<template name="dashboardSettings">

	<div class="dashboard-card">

		<div class="dashboard-card-head">
			<p>Modifica tu perfil</p>
		</div>

		<div class="dashboard-card-content">

			{{#autoForm id="editProfileForm" schema=editProfileSchema type="method" meteormethod="editProfile"}}

				{{> afQuickField name='name' id='profile-name-edit'}}
				{{> afQuickField name='username' id='profile-username-edit'}}
				{{> afQuickField name='email' id='profile-email-edit'}}
				{{> afQuickField name='userTitle' id='profile-user-title-edit'}}
				{{> afQuickField name='bio' id='profile-bio-edit'}}
				{{> afQuickField name='location' id='profile-location-edit'}}
				{{> afQuickField name='skills' id='profile-skills-edit'}}

			{{/autoForm}}

		</div>
	</div>

</template>