<!--
=================================================
=   dashboard Template                          =
=                                               =
=   Description: Displays the dashboard based   =
=   on the different dashboard templates        =
=                                               =
=   Used By: dashboard Route                    =
=================================================
-->

<template name="dashboard">
	<p>Tu perfil</p>
	{{> dashboardNotifications}}
	{{> dashboardMessages}}
	{{> dashboardTasks}}
	{{> dashboardSettings}}
	{{> dashboardModals}}
</template>