<!--
=================================================
=   dashboardTasks Template                     =
=                                               =
=   Description: Displays the tasks in which    =
=   the user participates as an employer or as  =
=   an employee                                 =
=                                               =
=   Used By: dashboard                          =
=================================================
-->

<template name="dashboardTasks">
    <div class="container">
        <div class="card-panel green-header-card dashboard-card">
            <div class="header">
                <p>Tasks</p>
            </div>
            <div class="dashboard-card-content">
                <div class="list">
                    <p class="title">Mine</p>
                    {{#each userTasksEmployee}}
						{{> task isEmployee=true task=this}}
					{{/each}}
                    {{#unless userTasksEmployee}}
                        <p class="message_card"><i class="mdi-social-person"></i>  You have no tasks</p>
                    {{/unless}}
                </div>
                <div class="list">
                    <p class="title">Delegated</p>
                    {{#each userTasksEmployer}}
						{{> task isEmployee=false task=this}}
					{{/each}}
                    {{#unless userTasksEmployer}}
                        <p class="message_card"><i class="mdi-social-people"></i>  You have no tasks</p>
                    {{/unless}}
                </div>
            </div>
            <a href="#" class="right-position"><i class="small mdi-action-history"></i></a>
        </div>
    </div>
</template>