<!--
=================================================
=   dashboardModals Template                    =
=                                               =
=   Description: Contains all modal windows of  =
=   the dashboard templates                     =
=                                               =
=   Used By: dashboard                          =
=================================================
-->

<template name="dashboardModals">

	<div id="create-review" class="modal modal-fixed-footer">
		<div class="modal-header">
			<span>Review</span>
		</div>
		
		<div class="modal-content">
		{{#autoForm id="createReviewForm" collection="Reviews" type="insert"}}

		{{> afQuickField name='title' id='create-review-title'}}
		{{> afQuickField name='description' id='create-review-description' rows=2}}
		{{> afQuickField name='score' id='create-review-score'}}
		{{> afQuickField name='task' id='create-review-task'}}
		{{> afQuickField name='to' id='create-review-to'}}
		{{> afQuickField name='from' id='create-review-from'}}

		<button type="submit">Submit</button>

		{{/autoForm}}
		</div>

	</div>

	<div id="view-review" class="modal modal-fixed-footer">
		<h4>Review</h4>
		<p>{{review.title}}</p>
		<p>{{review.description}}</p>
		<p>{{review.score}}</p>	    
	</div>

	<div id="view-notification-task" class="modal modal-fixed-footer">
		<h4>{{notificationTask.name}}</h4>
		<h5>{{notificationTaskEmployer.profile.name}}</h5>
		<p>{{notificationTask.description}}</p>
	</div>

	<div id="view-conversation" class="modal modal-fixed-footer chat-window">
		<div class="modal-header">
			<span>{{chatUserName}}</span>
		</div>
		<div class="modal-content">
			{{#each chatMessages}}
			<p>{{> message}}</p>
			{{/each}}
		</div>
		<div class="modal-footer">
			{{#autoForm id="createMessageModalForm" schema=createMessageSchema}}

			{{> afQuickField name='message' id='create-chat-message' rows=2}}

			<button type="submit" class="send-message waves-effect waves-light btn"><i class="mdi-content-send"></i>Answer</button>

			{{/autoForm}}
		</div>

	</div>

</template>