<!--
=================================================
=   Merits Template                   		  	=
=                                               =
=   Description: Displays the template of the 	=
=   user's merits             					=
=                                               =
=   Used By: dashboard                          =
=================================================
-->

<template name="merit">

<p>My Merits</p>

{{#each userMerits}}

	<p>Merit: {{name}}</p>
	<p>aquivalaimagen</p>
{{/each}}

</template>