<!--
=================================================
=   messageExcerpt Template                     =
=                                               =
=   Description: Displays each message          =
=   individually                                =
=                                               =
=   Used By: dashboardMessages                  =
=================================================
-->

<template name="messageExcerpt">
	<div class="message-Excerpt">
		<img src="{{chatPhoto}}" alt="chat pic" class="chat-img circle responsive-img">
		<div class="side-content">
			<span class="chat-from">{{chatUserName}}</span>
			<div class="chat-Excerpt"><span class="truncate">{{chatExcerpt}}</span></div>
			<a href="#" class="show-conversation"><i class="small mdi-navigation-more-horiz"></i></a>
		</div>
	</div>
</template>