<!--
=================================================
=   messageExcerpt Template                     =
=                                               =
=   Description: Displays each message          =
=   individually                                =
=                                               =
=   Used By: dashboardMessages                  =
=================================================
-->

<template name="messageExcerpt">
	<img src="{{chatPhoto}}" alt="chat pic">
	<h4>{{chatUserName}}</h4>
	<p>{{chatExcerpt}}</p>
	<a href="#" class="show-conversation"><i class="small mdi-navigation-more-horiz"></i></a>
</template>