<!--
=================================================
=   message Template                            =
=                                               =
=   Description: Displays each message          =
=   in modal window                             =
=                                               =
=   Used By: dashboardModals                    =
=================================================
-->

<template name="message">
	<div class="single-message">
		<img src="{{messagePhoto}}" class="circle responsive-img chat-head">
		<div class="side-content">
			<span class="from">{{messageUserName}}</span>
			<p class="content">{{this.message}}</p>
		</div>
	</div>
</template>