<!--
=================================================
=   message Template                            =
=                                               =
=   Description: Displays each message          =
=   in modal window                             =
=                                               =
=   Used By: dashboardModals                    =
=================================================
-->

<template name="message">
	<img src="{{messagePhoto}}">
	<h5>{{messageUserName}}</h5>
	{{this.message}}
</template>