<!--
=================================================
=   Skill evidence Template                     =
=                                               =
=   Description: Displays the form for the user =
=	to add evidence for his skills.             =
=                                               =
=   Used By: dashboard                          =
=================================================
-->

<template name="skillEvidence">

	<div class="container">
		<div class="card-panel green-header-card dashboard-card"> 
			<div class="header">
				<p>SKILLS EVIDENCE</p>
			</div>
			<div class="dashboard-card-content">

				<ul class="collapsible" data-collapsible="expandable">
					{{#each userSkills}}
					<li>
						<div class="collapsible-header">{{name}}</div>
						<div class="collapsible-body">
							<p>
								{{#each evidences}}
								
								<a href={{this}} class='evidenceImages'><img src={{this}} style="width:100px;height:100px"></a>
								<a href="" role="button" data-name={{evidence}} data-evidence={{this}} class="deleteSkillEvidence">Delete</a>
								{{/each}}
							</p>
						</div>
					</li>
					{{/each}}
				</ul>


				<p>UPLOAD YOUR SKILL EVIDENCE!</p>

				{{#autoForm id="addEvidenceForm" schema=addEvidenceSchema type="method" meteormethod="addEvidence"}}

				{{> afQuickField name='skill' id='skill-evidence-add'}}

				{{> upload_bootstrap contentTypes='images' fileTypes='.jpg, .png' }}

				<button class="btn waves-effect waves-light" type="submit">Submit</button>

				{{/autoForm}}
			</div>
		</div>
	</div>

</template>