<!--
=================================================
=   task Template                               =
=                                               =
=   Description: Displays a single task,        =
=   validating if current user is employer or   =
=   employee                                    =
=                                               =
=   Used By: dashboardTasks                     =
=================================================
-->

<template name="task">
	<div class="valign-wrapper">
		{{#if isEmployee}}
        <img src="{{fromPhotoEmployee}}" alt="profile_pic" class="image responsive-img circle">
        {{else}}
        <img src="{{fromPhotoEmployer}}" alt="profile_pic" class="image responsive-img circle">
        {{/if}}
        <div class="side-content">

            <p class="truncate">{{task.name}}</p>

            {{#if isEmployee}}

            	<p class="on-going status">
	                {{task.employeeStatus}}
	            </p>

	            <p>{{taskEmployer}}</p>
	            <div class="actions">
	            	<a href="#" id="complete-task"><i class="small mdi-action-done"></i></a>
	                <a href="#" class="check-review"><i class="small mdi-navigation-more-horiz"></i></a>
	            </div>

            {{else}}

            	{{#if pendingReview}} 
            		<a href="#" class="do-review"> 
			            <p class="on-going status">
			                {{task.employerStatus}}
			            </p>
	            	</a> 
	            {{else}}
	            	<p class="on-going status">
		                {{task.employerStatus}}
		            </p>
	            {{/if}}
          	
	            <p>{{taskEmployee}}</p>
	            <div class="actions">
	            	<a href="#" id="complete-task"><i class="small mdi-action-done"></i></a>
	                <a href="#"><i class="small mdi-navigation-more-horiz"></i></a>
	            </div>

            {{/if}}

        </div>
    </div>	
</template>