.base-button {
	border-radius: 3px;
	text-transform: uppercase;
	font-family: $roboto;
	border-style: solid;
	border-width: 1px;
}

.small-button {
	@extend .base-button;
	font-size: 14px;
  	letter-spacing: 0.5px;
  	font-weight: $extra-bold;
  	padding: 10px 3%;
}

.big-button {
	@extend .base-button;
	font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: $bold;
    padding: 20px 6%;
}

.gold-button {
	@extend .base-button;
	color: white;
	background-color: $fools-gold;
	border-color: $fools-gold;
	@include transition(all 0.4s ease-in-out);
}

.gold-button:hover {
	color: white;
	background-color: $gold;
	border-color: $gold;
	@include transition(all 0.4s ease-in-out);
}

.gravel-button {
	@extend .base-button;
	border-color: $gravel;
	color: $gravel;
	@include transition(all 0.4s ease-in-out);
}

.gravel-button:hover {
	color: white;
	background-color: $gravel;
	@include transition(all 0.4s ease-in-out);
}

button[type="submit"] {
	@extend .gold-button;
	@extend .small-button;
}