<!--
=================================================
=   notification Template                       =
=                                               =
=   Description: Displays a single notification =
=                                               =
=   Used By: dashboardNotifications             =
=================================================
-->

<template name="notification">
    <div class="notification valign-wrapper">
        <img src="{{fromPhoto}}" alt="profile_pic" class="image responsive-img circle">
        <div class="side-content">
            <p>
                {{{this.title}}}
            </p>

            {{#if isStartTask}}

                <div class="actions">
                    <a href="#" class="confirm-start-task"><i class="small mdi-action-done"></i></a>
                    <a href="#" class="dismiss-start-task"><i class="small mdi-content-clear"></i></a>
                    <a href="#" ><i class="small mdi-content-flag"></i></a>
                    <a href="#" class="show-task-description"><i class="small mdi-navigation-more-horiz"></i></a>
                </div>

            {{/if}} {{#if isReviewDone}}

                <div class="actions">
                    <a href="#" class="dismiss-notification"><i class="small mdi-action-done"></i></a>
                    <a href="#"><i class="small mdi-content-flag"></i></a>
                    <a href="#" class="check-review"><i class="small mdi-navigation-more-horiz"></i></a>
                </div>

            {{/if}} {{#if isTaskRejected}}

                <div class="actions">
                    <a href="#" class="dismiss-notification"><i class="small mdi-action-done"></i></a>
                    <a href="#"><i class="small mdi-content-flag"></i></a>
                </div>

            {{/if}} {{#if isTaskAccepted}}

                <div class="actions">
                    <a href="#" class="dismiss-notification"><i class="small mdi-action-done"></i></a>
                    <a href="#"><i class="small mdi-content-flag"></i></a>
                </div>

            {{/if}} {{#if isOtherCompleted}}

                <div class="actions">
                    <a href="#" class="complete-task-other"><i class="small mdi-action-done"></i></a>
                    <a href="#" class="dismiss-notification"><i class="small mdi-content-clear"></i></a>
                    <a href="#"><i class="small mdi-content-flag"></i></a>
                    <a href="#" class="show-task-description"><i class="small mdi-navigation-more-horiz"></i></a>
                </div>

            {{/if}} {{#if isBothCompletedEmployer}}

                <div class="actions">
                    <a href="#" class="do-review"><i class="small mdi-action-done"></i></a>
                    <a href="#"><i class="small mdi-content-flag"></i></a>
                    <a href="#" class="show-task-description"><i class="small mdi-navigation-more-horiz"></i></a>
                </div>

            {{/if}} {{#if isBothCompletedEmployee}}

                <div class="actions">
                    <a href="#" class="dismiss-notification"><i class="small mdi-action-done"></i></a>
                    <a href="#"><i class="small mdi-content-flag"></i></a>
                </div>

            {{/if}}

        </div>
    </div>
</template>
