<template name="login">
	<div class="container">
		<div class="seventy-width">
			<form action="" id="login-form" class="card-panel">
				<div class="logo_login">
					<!--<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 282.3 125.1" enable-background="new 0 0 282.3 125.1" xml:space="preserve">
					<path fill="#429545" d="M31.7,9.1c0,0-8.8,7.5-7.2,15.4c0.7,3.6,1,5.2,1.2,6l10-2L31.7,9.1z M49,102.6h-8.1H28.1h-2v4.5
					c0,0-0.3,12.6,12.1,11.6c11.5-0.8,11-13.9,11-13.9L49,102.6z M25.9,41.7v12.1h0.1h2h10.7h6.9l-0.2-2.4c0,0,21.6-13.5,18.8-27.2
					c-3.4-17-17-20.3-21-19.5L48,28l-23.9,4.9L25.9,41.7z M40.4,31.5l2,10L30.6,44l-2-10L40.4,31.5z M17.5,44.6l6.7-1.4l-1.6-7.8
					C22.5,35.4,16.2,38.6,17.5,44.6z M38.9,33.9l1.2,6l-7.9,1.6l-1.2-6L38.9,33.9z M58.9,64.6l-5.3-7.9h-42v8.1h14.5v3.7h-0.1H11.6v7.8
					h14.3H26v3.9H11.6v8.1c0.7,0,14.5-0.1,14.5-0.1V92h-0.1H11.6v8h42l5.7-7.7h33.9V64.6C93.2,64.6,58.9,64.6,58.9,64.6z"/>
					<text transform="matrix(1 0 0 1 102.2164 99.3878)"><tspan x="0" y="0" fill="#429545" font-family="'BebasNeue'" font-size="69.94">TASK</tspan><tspan x="108.5" y="0" fill="#2E6A30" font-family="'BebasNeue'" font-size="69.94">ME</tspan></text>
				</svg>!-->
				<img src="/images/Logo_green.png" alt="logo" class="logo_img">
			</div>
			<div class="input-field">
				<input type="text" name="username" id="login-username"/>
				<label for="login-username">Username</label>
			</div>
			<div class="input-field">
				<input type="password" name="password" id="login-password"/>
				<label for="login-password">Password</label>
			</div>
			<button type="submit" class="waves-effect waves-light btn-large" name="login" id="login-button">
				Login
			</button>
		</form>
		<a href="/registration"> Don't have an account yet? </a>
	</div>
</div>
</template>
