<!--
=================================================
=   profileInfo Template                        =
=                                               =
=   Description: Displays user's personal       =
=   information, and displays create task modal =
=                                               =
=   Used By: profile                            =
=================================================
-->

<template name="profileInfo">

	<div class="profile-info">
		<p>Profile Pic</p>
		<p>{{profileUser.profile.name}}</p>
		<p>{{profileUser.profile.userTitle}}</p>
		<p>{{profileUser.profile.location}}</p>
		{{#unless hasActiveTask}}
			<button id="task-me">Task me</button>
		{{/unless}}
		<button>Message me</button>
	</div>

</template>