<!--
=================================================
=   profile Template                            =
=                                               =
=   Description: Displays the user profile page =
=   based on the profile templates.             =
=                                               =
=   Used By: profile Route                      =
=================================================
-->

<template name="profile">
    <div class="content-90">
        <div class="row">
            <div class="col s3">
                {{> profileInfo}}
            </div>
            <div class="col s9">
                {{> skills}}
                {{> reviews}}
            </div>
        </div>
    </div>
    {{> profileModals}}
</template>
