<!--
=================================================
=   profileModals Template                      =
=                                               =
=   Description: Contains all modal windows of  =
=   the profile templates                       =
=                                               =
=   Used By: profile                            =
=================================================
-->

<template name="profileModals">

	<div id="create-task" class="modal modal-fixed-footer">
	    <h4>Create Task</h4>

	    {{#autoForm id="createTaskForm" schema=createTaskSchema type="method" meteormethod="createTask"}}

			{{> afQuickField name='name' id='create-task-name'}}
			{{> afQuickField name='description' id='create-task-description' rows=2}}
			{{> afQuickField name='employer' id='create-task-employer'}}
			{{> afQuickField name='employee' id='create-task-employee'}}

			<button type="submit">Submit</button>

		{{/autoForm}}

	</div>

	<div id="create-chat" class="modal modal-fixed-footer">
		<h4>Send Message</h4>

		{{#autoForm id="createMessageForm" schema=createMessageSchema}}

			{{> afQuickField name='message' id='create-chat-message' rows=2}}

			<button type="submit">Submit</button>

		{{/autoForm}}

	</div>
	
</template>