<!--
=================================================
=   skills Template                             =
=                                               =
=   Description: Displays user skills           =
=                                               =
=   Used By: profile                            =
=================================================
-->

<template name="skills">
	<div class="card-panel profile-card-head green-header-card dashboard-card">
		<div class="header">
			<p>My Skills</p>
		</div>
		<div class="user-skills">
			{{#each userSkills}}
			{{> skill}}
			{{/each}}
		</div>
	</div>
</template>
