<!--
=================================================
=   skill Template                              =
=                                               =
=   Description: Displays each skill            =
=   individually                                =
=                                               =
=   Used By: skills                             =
=================================================
-->

<template name="skill">
	<p>{{this.name}}</p>

	{{#unless hasValidated}}
		{{#unless profileUserIsLoggedUser}}
			<button id="validate-skill">Validate</button>
		{{/unless}}
	{{/unless}}

	<p>{{validationCount}}</p>

</template>