<!--
=================================================
=   skill Template                              =
=                                               =
=   Description: Displays each skill            =
=   individually                                =
=                                               =
=   Used By: skills                             =
=================================================
-->

<template name="skill">
	<div class="single-skill">
		<span class="skill-count">{{validationCount}}</span>
		<span class="skill-name">{{this.name}}</span>
		{{#unless hasValidated}}

			{{#unless profileUserIsLoggedUser}}

				<a id="validate-skill" class="skill-button"><i class="hover-skill mdi-action-favorite-outline"></i><span class="help-validate valign-wrapper"> validate</span></a>

			{{/unless}}

		{{else}}

			{{#unless profileUserIsLoggedUser}}

				<a class="unvalidate-skill"><i class="hover-skill mdi-content-clear"></i>  Undo</a>

			{{/unless}}

		{{/unless}}
	</div>
</template>