<!--
=================================================
=   skills Template                             =
=                                               =
=   Description: Displays user skills           =
=                                               =
=   Used By: profile                            =
=================================================
-->

<template name="skills">

	<div class="user-skills">
		<div class="profile-card-head">
			My Skills
			{{#each userSkills}}
				<p>{{this}}</p>
			{{/each}}
		</div>
	</div>

</template>