<!--
=================================================
=   User merits Template                        =
=                                               =
=   Description: Displays the user merits       =
=                                               =
=   Used By: profile                            =
=================================================
-->

<template name="userMerits">
	<div class="card-panel green-header-card dashboard-card"> 
		<div class="header">
			<p>MY MERITS</p>
		</div>
		<div class="dashboard-card-content">
			{{#unless userMerits}}
			<p class="message_card"><i class="mdi-action-favorite-outline"></i> This user has no merits </p>
			{{/unless}}
			{{#each userMerits}}
			<div class="merit">
				<img class="merit-badge" src={{icon}} alt="">
				<span class="merit-title">{{name}}</span>
			</div>
			{{/each}}
		</div>
	</div>
</template>