<!--
=================================================
=   User evidence Template                      =
=                                               =
=   Description: Displays the user evidence     =
=                                               =
=   Used By: profile                            =
=================================================
-->

<template name="userEvidences">
	<p>MY SKILLS EVIDENCES</p>

	{{#each userSkills}}
		<p>Skill: {{name}}</p>
		<p>Evidence:
		{{#each evidences}}
			<img src={{this}} style="width:100px;height:100px">
		{{/each}}
		</p>
	{{/each}}

</template>