<!--
=================================================
=   Skill evidence Template                     =
=                                               =
=   Description: Displays the form for the user =
=	to add evidence for his skills.             =
=                                               =
=   Used By: dashboard                          =
=================================================
-->

<template name="userEvidences">

	<div class="card-panel green-header-card dashboard-card"> 
		<div class="header">
			<p>My skills evidence</p>
		</div>
		<div class="dashboard-card-content">
			{{#each userSkills}}
			<p>Skill: {{name}}</p>
			<p>Evidence:
				{{#each evidences}}
				<img src={{this}} style="width:100px;height:100px">
				{{/each}}
			</p>
			{{/each}}
		</div>
	</div>
</template>