nav {
    background-color: color("green", "darken-3") !important;
    position: fixed;
    top: 0;
    z-index: 99999;
    .spacer-25px {
        margin-right: 25px;
    }
}
#dropdown-navbar {
    padding: 0px 0px;
}
